@import "scrollbar";
@import "mixins";
@import "keyframes";
@import "fonts";
@import "colors";
@import "images";


body{
  width:100vw;
  padding-top: 90px;
  padding-left: 90px;
  padding-right: 90px;
  overflow-x: hidden;
}

.btn-main{
  border-radius: 0;
}
.navbar{
  height:90px;
}
.navbar-brand{
  padding-top: 35px;
  padding-bottom: 35px;
}
.navbar-center, .navbar-right{
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-center{
  margin-left:60px;
}
.nav li.active{
  display:none;
}
.navbar-tel{
  margin-right:9px;
}
@import "headerModal";

.hero-header{
  position: absolute;
  margin-top: 260px;
  box-sizing: padding-box;
  z-index: 4;
  &>.secondary{
    display: block;
  }
}
.hero-overlay{
  height: 678px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.hero-background {
  height: 678px;
  width: 90%;
  padding: 0;
		position: absolute;
    top:90px;
		z-index: 2;
    canvas.dots {
      height: 678px;
      width: 100%;
      position: absolute;
    }
	}
.discuss{
  position: relative;
}
.discuss-background{
  height: 100%;
  width: 100%;
  padding: 0;
  position: absolute;
  top:0;
  z-index: 2;
  canvas.dots {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
.dots{
  &:before{
    content:"&times;";
    display: block;
    width: 2rem;
    height:2rem;
    position: absolute;
    top: 125px;
    right: 300px;
  }
  &:after{
    content: '&times;';
    display: block;
    width: 2rem;
    height:2rem;
    position: absolute;
    top: 325px;
    right: 300px;
  }
}

.social-right{
  width:400px;
  position: absolute;
  top:400px;
  right:-150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  transform: rotate(-90deg);

  & .social-right-item:before{
    content: '\2014';
    position: absolute;
    margin-left: -20px;
  }
}
// section services
.hero, .section{
  margin-bottom: 140px;
}
.section.about{
  margin-bottom: 70px;
}
.services-item-header{
  // display: block;
}
.section-header-sup{
  display: block;
}
// section portfolio
.portfolio .section-header-sub, .partners .section-header-sub, .about  .section-header-sub{
  display: block;
  max-width: 687px;
  float: left;
  margin-bottom: 50px;
}
.portfolio .portfolio-link, .partners .partners-link, .about .about-link{
  float: right;
}
.portfolio-item-thumbnail{
  position: relative;
  z-index: 1;
  height: 550px;
}
.portfolio-item-description{
  position: absolute;
  top:0;
  left:-15px;
  z-index: 2;
  box-sizing: border-box;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border: 3px solid #fff;
  height: 550px;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: all .2s ease-in-out;
}
.portfolio-item-description:hover{
  transform: scale(0.8);
}
.portfolio-item-header{
  margin-bottom: 35px;
}
.portfolio-item-sub, .portfolio-item-description .btn-main{
  display: none;
  transition: all .2s ease-in-out;
}
.portfolio-item-description:hover  .portfolio-item-sub, .portfolio-item-description:hover .btn-main{
    display: block;
    margin-bottom: 50px;
}
.portfolio-item-description .btn-main{
  width: 200px;
  margin: 0 auto;
}
.discuss{
  min-height: 487px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discuss .discuss-header{
  margin-top: 72px;
}
.discuss-form-container{
  width: 700px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 3;
}
.discuss-form-container .inputgroup label{
  position: absolute;
  z-index: 2;
}
.discuss-form-container .field-group input{
  margin-top: 20px;
  border-bottom: 2px solid white;
}
#discussFormName, #discussFormMessage{
  margin: 0;
}
#discussFormMessage{
  height: 112px;
}

#discussFormName,
#discussFormPhone,
#discussFormEmail,
#discussFormMessage{
  display: block;
  width: 100%;
}
#discussFormName ~ label,
#discussFormPhone ~ label,
#discussFormEmail ~ label{
  transform: translate(0, -20px);
  transition: all .2s ease-in-out;
}
#discussFormMessage ~ label{
  transform: translate(0, -112px);
  transition: all .2s ease-in-out;
}
#discussFormName:focus ~ label,
#discussFormPhone:focus ~ label,
#discussFormEmail:focus ~ label{
  transform: translate(0, -40px);
  font-size: 12px;
  text-decoration: none;
  border: 0;
}
,
#discussFormMessage:focus ~ label{
  transform: translate(0, -132px);
  font-size: 12px;
}
.discuss-form__button{
    display: flex;
    justify-content: center;
    margin-top: 36px;
}
.discuss .btn-main{
  border:0;
  min-width: 175px;
}
.partners-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.partners-thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
// footer
.footer{
  height:150px;

}
.footer-menu{
  padding:0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}
.footer-menu.footer-contacts__list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}
.footer-menu__item{
  width:50%;
  // margin-bottom: 10px;
}
.footer-social{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-social__link span{
  visibility: hidden;
}
.footer-contacts{
  padding-left: 30px;
}
.footer-contacts__item{
  padding-bottom: 10px;
}
.address address{
  margin:0;
}
// contacts-page
.contacts-page{
  margin-top: 90px;
}
.contacts-list-wrapper{
  display: block;
  position: absolute;
  top:300px;
  right:300px;
  width: 340px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fff;
  & .contacts-list{
    list-style-type: none;
    width:250px;
  }
}
.contacts-item .btn-main{
  width: 75%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contacts-item{
  & a{
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: #353535;
    text-decoration: none;
  }
  & a:hover, & a:focus, & a:visited{
    // color: #353535;
    color: #000;
    text-decoration: none;
  }
  & .contacts-item__tel{
    font-size: 30px;
  }
}

.contacts-item__address{
  & address{
    margin:0;
  }
}
.contacts-item__email{
}
.contacts-item__skype{
}
.contacts-item_description{
  display: block;
  float: none;
  font-size: 16px;
  color: #898989;
}
.contacts-item .skype-icon,
.contacts-item .email-icon,
.contacts-item .map-icon,
.contacts-item .tel-icon{
  width:1.5rem;
  height: 2rem;
  display: block;
  position: absolute;
  left:50px;
  fill:#353535;
}
// blog-page
.blog-page{
  margin-top:90px;
}
.blog-page .page-header{
  font-family: 'AvenirNextCyr-Bold';
  font-size: 50px;
  font-weight: bold;
}
.blog-page .thumbnail{
  width:100%;
  height:auto;
  border:0;
  border-radius:0;
  padding: 0;
}
.blog-page article.news-item{
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}
.blog-page article.single-item .article-header{ //news feed page & single-item
  &:before{
    content: "+";
    display: inline-block;
    width:20px;
    height:20px;
    margin-right: 20px;
    font-size: 26px;
  }
  &:hover:before{
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
.blog-page article.news-item .article-header{
  font-family: 'AvenirNextCyr-Medium';
  font-size: 20px;

  &:before{
    content: "___";
    display: block;
    width:20px;
    height:20px;
    margin-right: 20px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
    color:#fabe1d;
  }
  &:hover:before{
    // animation-name: spin;
    // animation-duration: 4000ms;
    // animation-iteration-count: infinite;
    // animation-timing-function: linear;
  }
}
.blog-page article.news-item  .article-excerpt{
  font-family: 'AvenirNextCyr-Regular';
  font-size: 15px;
  line-height: 22px;
}
.blog-page .subscribe-wrapper{
  background-color: #13141c;
  padding:30px;
}
.form-header.subscribe-header{
  color:#fff;
  font-size: 40px;
  font-weight: bold;
  line-height: 43px;
}
.blog-page .subscribe-wrapper{
  display: block;
  position: relative;
}
.blog-page form.subscribe{
  display: block;
  position: relative;
  z-index: 5;
}
.blog-page .dots{
// canvas#subscribeDots {
  height: 100%;
  width: 100%;
  left:0;
  top:0;
  position: absolute;
  z-index: 2;
}
.blog-page .pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.blog-page .pagination .page-link{
  border:0;
  color:#000;
  &:hover{
    background-color: #fabe1d;
    transform: rotate(-45deg);
    & span{
      display: block;
      transform: rotate(45deg);
    }
  }
}
img.banner{
  width: 100%;
  height: auto;
}
// single-news-item page
.single-news-wrapper{
  padding-top:90px;
}
.single-news-wrapper .page-header{
  font-family: 'AvenirNextCyr-Bold';
  font-size: 35px;
  line-height: 18px;
  font-weight: bold;
}
.single-news-item{
  & img.thumbnail {
    width:100%;
    height:auto;
    border:0;
    border-radius: 0;
    padding: 0;
  }
}
.single-news-item .article-header{
  font-family: 'AvenirNextCyr-Regular';
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 30px;
}
.single-news-item .article-content{
  font-family: 'AvenirNextCyr-Regular';
  font-weight: normal;
  font-size: 21px;
  line-height: 35px;
}
.single-news-item .article-header:before{
  content: "+";
  display: inline-block;
  width:20px;
  height:20px;
  margin-right: 20px;
  font-size: 26px;
}
.single-news-item .article-header:hover:before{
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
// about us page


//slider
.slider-wrapper {
  width: 100%;
  margin: 1em auto;
  max-width: 1200px;

  .slider {
    .slide {
      position: relative;
      display: inline-block;
      margin: 0 0.5em;
    }
  }
}
.slide  .team-slide-header{
  display: block;
  padding-top: 60px;
  height:60px;
  overflow: hidden;
  & .team-slide__name{
    display: block;
    width: 100%;
    height:30px;
    text-align: center;
  }
  & .team-slide__position{
    display: block;
    width: 100%;
    height:30px;
    text-align: center;

  }
}
.slide:hover .team-slide-header{
    display:block;
    padding-top:0;

}
.slide .team-slide-image{
  width:auto;
  height:400px;
  filter: grayscale(1);
  &:hover{
    filter: grayscale(1) drop-shadow(3px 2px 2px #fabe1d) drop-shadow(-3px 2px 2px #fabe1d) drop-shadow(-3px -2px 2px #fabe1d) drop-shadow(3px -2px 2px #fabe1d);
  }
}
.slider-controls{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slider-controls svg{
  width: 24px;
  height: 48px;
}
.mouse-before{
  display: inline-block;
  // width: 48px;
  height: 1rem;
  font-size: 18px;
  font-weight: bold;
  line-height: 48px;
}
.mouse-after{
  display: inline-block;
  // width: 48px;
  height: 1rem;
  font-size: 18px;
  font-weight: bold;
  line-height: 48px;
}
//end-slider
.about-features-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
}

//====================================================== page category-portfolio
.grid article {

  display: block;
  float: left;
  margin: 1%;
  width: 31.3%;
  overflow: hidden;

}
.filters-button-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.btn-tab{
  border:0;
  border-radius: 0;
  background-color: inherit;
  &.is-checked{
    background-color: #fabe1d;
    &:focus, &:hover{
      outline:0;
    }
  }
}
.portfolio-item-thumbnail img{
  width: auto;
  height: 100%;
  filter: grayscale(.1) brightness(0.45) contrast(1.05);
}
.portfolio-add-more{
  width: 100%;
  padding-left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  & .btn{
    width:125px;
    margin-left: -62px;
  }
}
@media (max-width: 1024px) {
  .grid article {
    width: 31.3%;
  }
}

@media (max-width: 767px) {
  .grid article {
    width: 48%;
  }
}

@media (max-width: 479px) {
  .grid article {
    margin: 2% 0;
    width: 100%;
  }
}

// =========================================================portfolio-single
.portfolio-single-thumbnail{
  position: relative;
  width: 100%;
  height:400px;
  overflow: hidden;
  & img{
    width: 100%;
    height: auto;
    filter: grayscale(.1) brightness(0.45) contrast(1.05);
  }
}
.portfolio-single-description{
  position: absolute;
  top:200px;
  z-index: 5;

  color: #fff;
}
.portfolio-single-header{
  font-family: 'AvenirNextCyr-Bold';
  font-size: 70px;
}
.portfolio-single-sub{
  font-family: 'AvenirNextCyr-Regular';
  font-size: 18px;
  line-height: 23px;
}
.portfolio-pagination{
  width: 100%;
  & a{
    display: block;
    float: left;
    width: 48%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
  }
  & a:hover{
    color: #fabe1a;
    text-decoration: none;
  }
  & .previous-project{
    text-align: right;
    padding-right: 10px;
  }
  & .next-project{
    padding-left: 10px;
  }
}
.single-portfolio-item{
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.single-portfolio-item__header{
  font-family: 'AvenirNextCyr-Bold';
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
}
.single-portfolio-item__desription{
  font-family: 'AvenirNextCyr-Regular';
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  margin-bottom: 0;
}
// ==========================================================services-page
.services-wrapper{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.services-block{
  display: block;
  float: left;
  margin: 1%;
  width: 31.3%;
  overflow: hidden;
}
.services-list{
  list-style-type: none;
  & .services-list-header{
    font-family: 'AvenirNextCyr-Bold';
    font-size: 25px;
    line-height: 18px;
    display: block;
    margin-bottom: 25px;
  }
  & .services-item{
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #000;
    &:hover{
      color: #fabe1a;
    }
    & a{
      color: #000;
      text-decoration: none;
    }
    &:hover a{
      color: #fabe1a;
    }
  }
  & .services-item:before{
    content: "+";
    display: inline-block;
    width:20px;
    height:20px;
    margin-right: 20px;
    font-size: 26px;
  }
  & .services-item:hover:before{
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
.cms-wrapper{
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  & .cms-block{
    width: 19.7%;
    padding: 10px;
    & img{
      filter: grayscale(1);
      &:hover{
        filter: none;
      }
    }
  }
}
.cms-header{
  text-transform: none;
}
.services-page{
  .page-header{
    font-family: 'AvenirNextCyr-Bold';
    font-size: 50px;
    line-height: 18px;
  }
}
// =============================================================================single-services
.services-single{}
.services-single-hero{
  height: 500px;
  background-color: #fabe1a;
  padding-top: 150px;
  position: relative;
  & .header-link{
    display: block;
    margin-top: 50px;
    font-size: 20px;
  }
  & .dots{
    width: 100%;
    height: 500px;
    position: absolute;
    top:0;
    left:0;
    right:0;
  }
}
#servicesFeatures .item{
  width: 100%;
  height: 550px;
}
.carousel-bricks-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  right:5%;
  left:5%;
}
.carousel-brick{
  width: 19.7%;
  margin-top: 20px;
  height: 140px;
  overflow: hidden;
  color: #000;
  & .brick-front{
    height:140px;
    & .servicesFeatures-item-thumbnail{
      width: 100%;
      height:60px;
      margin-top: 40px;
      & svg{
        width:100%;
        height:60px;
      }
    }
    & h5{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  & .brick-back{
    height: 0;
  }
  &:hover .brick-front{
    height:0;
    display: none;
  }
  &:hover .brick-back{
    height: 140px;
    font-size: 12px;

  }
}
.brick-back p:first-child{
  border: 1px solid #ccc;
}
.left.carousel-control,
.right.carousel-control{
  background: inherit;
}
.carousel-indicators{
  top: 550px;
  & li{
    background-color: #000;
    border-radius: 0;
  }
  & li.active{
    transform: rotate(45deg);
    background-color: #fabe1a;
  }
}

.dots-wrapper:before,
.dots-wrapper:after{
  content: "+";
  display: block;
  width:20px;
  height:20px;
  margin-right: 20px;
  font-size: 26px;
  color: #fabe1a;
  position: absolute;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.dots-wrapper:before,
.dots-wrapper:after{}


.faq-list{
  list-style-type: none;
}

summary::-webkit-details-marker {
    display: none
}
.faq-title{
  font-family: 'AvenirNextCyr-Bold';
  font-size: 18px;
}
.faq-text{
  font-family: 'AvenirNextCyr-Regular';
  font-size: 16px;
}
.faq-title:after {
    background: inherit;
    content: '▪';
    color: #000;
    float: left;
    font-size: 2.75rem;
    font-weight: bold;
    margin: -5px 10px 0 0;
    padding: 0;
    text-align: center;
    width: 20px;
}
details[open] .faq-title:after {
    transform: rotate(45deg);
    color: #fabe1a;
}






@media screen and (max-width: 768px) {
  @import "xs";
  // @import "accordian";
}
@media screen and (min-width: 767px) {
  // @import "sm";
}
